@import "@/assets/tailwind.css";

#kansu-main-panel {
  position: fixed;
  top: 16px;
  right: 16px;
  /* z-index: 2147483647; */
  width: min(92vw, 720px);
  max-height: calc(100vh - 32px);
  overflow: auto;
}
